<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I’m a hard-working developer with a wide range of development experience. I’m very sociable and strive to work in a fun environment that promotes creativity and innovation. I believe it’s important to enjoy writing your code and to be proud of it.</p>
      </div>
      <div class="col-lg-4">
        <p>On top of expanding my programming skills, I've been fortunate to gain some management experience in my current role. I have enjoyed the challenge of these extra responsibilities but I'm now looking to find a role that is more development focused, which is where my passion lies.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="/cv.pdf" target="_blank" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>
