<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I’m a hard-working developer with a wide range of development experience. I’m sociable and strive to work in a fun environment that promotes creativity and innovation. I believe it’s important to enjoy writing your code and to be proud of it.</p>
      </div>
      <div class="col-lg-4">
        <p>I'm looking for a product-focused company with a great work ethic. I want to be part of a talented team that works together to build something they really care about.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="/cv.pdf" target="_blank" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>
