<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-sm-offset-8 col-sm-4">
          <ul class="list-inline">
            <li>
              <a href="https://github.com/ianmooney" target="_blank" class="btn-social btn-outline" title="Github">
                <i class="fa fa-fw fa-github"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/ian-mooney-aa985a29" target="_blank" class="btn-social btn-outline" title="LinkedIn">
                <i class="fa fa-fw fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="mailto:iancmooney@gmail.com" target="_blank" class="btn-social btn-outline" title="Email">
                <i class="fa fa-fw fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
