<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row portfolio-items">
      <div class="col-sm-4 portfolio-item thinkific">
        <a href="#portfolioThinkific" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <div class="image-container">
            <img src="img/thinkific-logo.jpeg" alt="Thinkific">
          </div>
        </a>
      </div>
      <div class="col-sm-4 portfolio-item tylt">
        <a href="#portfolioTylt" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <div class="image-container">
            <img src="img/tylt-logo.png" alt="Tylt">
          </div>
        </a>
      </div>
      <div class="col-sm-4 portfolio-item sticky9">
        <a href="#portfolioSticky9" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <div class="image-container">
            <img src="img/sticky9-logo.png" alt="Sticky9">
          </div>
        </a>
      </div>
      <div class="col-sm-offset-2 col-sm-4 portfolio-item zoolafix">
        <a href="#portfolioZoolaFix" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <div class="image-container">
            <img src="img/zoolafix-logo.png" alt="Zoola Fix">
          </div>
        </a>
      </div>
      <div class="col-sm-4 portfolio-item yoomee">
        <a href="#portfolioYoomee" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <div class="image-container">
            <img src="img/yoomee-logo.png" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
