<!-- Statements Section -->
<section id="statements">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Some things I believe</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <ul>
          <li>A good programmer writes simple code, not complex code.</li>
          <li>Use new technologies because they make sense, not because the cool kids are using them.</li>
          <li>Readability is sometimes more important than performance.</li>
          <li>Always be open to other ideas and don't be defensive if people suggest alternatives.</li>
          <li>There's always time for tests.</li>
          <li>Don't be precious with your code, if it's no longer needed, get rid! (Knowing it'll always be in Git)</li>
          <li>Never over-engineer. Simplicity is more valuable than unused functionality.</li>
          <li>It's fun to go with your gut but doing what the data suggests is more reliable.</li>
          <li>Don't follow processes blindly. Do them because they provide benefit, otherwise don't do them.</li>
          <li>Be test-smart. Not everything needs to be tested.</li>
          <li>Commit often. It tells a story.</li>
          <li>The end-user is the best tester. Get it infront of them as soon as possible.</li>
          <li>Never underestimate the power of a well-placed comment. It might be obvious now, it won't later.</li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</section>
