.scroll-top .btn {
  padding: 7px 0px;
}

.portfolio-items {
  padding-top: 50px;
}
.portfolio-item .image-container {
  text-align: center;
  width: 100%;
  padding: 50px 0;
}
.portfolio-item .image-container img {
  height: 70px;
  max-width: 100%;
}
.portfolio-item.zoolafix .image-container img {
  height: 30px;
  margin: 20px 0px;
}

.portfolio-modal p {
  margin-bottom: 30px;
}
